body {
  font-family: 'Inter', sans-serif;
  background-color: #1a202c;
  /* Dark gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

canvas {
  border: 2px solid #4a5568;
  /* Darker slate border */
  border-radius: 0.5rem;
  /* rounded-lg */
  background-color: #000000;
  /* Black background for drawing area */
  cursor: crosshair;
}

/* Custom loader for prediction */
.loader {
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
  display: none;
  /* Hidden by default */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}